@font-face {
  font-family: roboto;
  src: url(../fonts/roboto.woff2);
  src: url(../fonts/roboto.woff);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: robotobold;
  src: url(../fonts/robotobold.woff2);
  src: url(../fonts/robotobold.woff);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: robotomedium;
  src: url(../fonts/robotomedium.woff2);
  src: url(../fonts/robotomedium.woff);
  font-style: normal;
  font-weight: normal;
}

:root {
  --basic-extra-white: rgba(255, 255, 255, 0.2);
  --basic-light-white: rgba(255, 255, 255, 0.8);
  --basic-white: #FFFFFF;
  --basic-light-black: #5A5A5A;
  --basic-black: #323232;
  --basic-grey: #999999;
  --basic-red: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --basic-light-bordo: #FBDED7;
  --basic-bordo: #F6B5A5;
  --basic-dark-bordo: #D07058;
  --basic-pink: #FFBC9E;
  --basic-dark-pink: #E84D37;

  --special-black: #231F20;
}

/* Body */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: robotobold;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--basic-white);
  background-color: #849D8F;
}

a {
  color: var(--basic-white);
  text-decoration-color: var(--basic-extra-white);
}

a:hover,
a:focus {
  color: var(--basic-pink);
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: var(--basic-red);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  font-weight: bold;
  border: none;
}

button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

button:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.button {
  text-decoration: none;
  font-family: roboto;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: var(--basic-red);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

.button:hover {
  color: var(--basic-white);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:focus {
  color: var(--basic-white);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.search-form {
  display: none;
}

.entrance-form {
  display: none;
}

.feedback-form {
  display: none;
}

.circle {
  width: 267px;
  height: 267px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}

/* Navigation */

header {
  font-size: 14px;
  line-height: 16px;
}

.site-navigation {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
}

.site-navigation a:hover {
  color: var(--basic-black);
  text-decoration: none;
  background: var(--basic-white);
  border-radius: 26px;
  padding: 9px 13px;
}

.site-navigation a:focus {
  background: #EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
  padding: 9px 13px;
}

.on-page {
  text-decoration: none;
  background: #D07058;
  border-radius: 26px;
  padding: 9px 13px;
  pointer-events: none;
}

.catalog-items {
  list-style: none;
  display: none;
}

.user-navigation {
  list-style: none;
  font-family: roboto;
  font-weight: 500;
  text-decoration: none;
}

.user-navigation .search-button {         /* кривая какая-то кнопочка выходит:( */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;
}

.user-navigation .entrance {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 92px;
  height: 32px;
  text-align: center; /* Временно */
}

.user-navigation .cart {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 92px;
  height: 32px;
  text-align: center; /* Временно */
}

.phone-number {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
}

/* Index page */
/* Special offers*/

.index-pages {
  list-style: none;
}

/* .index-pages a {
  width: 21px;
  height: 21px;
  border: var(--basic-white);
  border-radius: 50%;
  text-align: center;
  background: var(--basic-white);
} */


.advertisment h3 {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.advertisment .button {
    padding: 10px 40px;
}

.offers {
  list-style: none;
  font-family: roboto;
  font-weight: bold;
}

.offers h3 {
  font-size: 35px;
  line-height: 41px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.offers p {
  font-size: 18px;
  margin-left: 16px;
  margin-top: 16px;
}

.jam-offer {
  background-image: url("../img/index/malina.jpg");
  width: 560px;
  height: 229px;
  background-color: inherit;
  border-radius: 16px;
}

.jam-offer .button {
  font-size: 18px;
  line-height: 24px;
  padding: 16px 22px;
}

.chokolate-offer {
  background-image: url("../img/index/chokolate.jpg");
  width: 560px;
  height: 229px;
  background-color: inherit;
  border-radius: 16px;
}

.chokolate-offer .button {
  font-size: 18px;
  line-height: 24px;
  padding: 16px 22px;
}

.icecream {
  list-style: none;
}

.icecream h3 {
  font-family: roboto;
  font-weight: 500;
}

.icecream p {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.icecream span {
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

/* Our Company */

.about-company {
  background-image: url("../img/index/vaffel.png");
  width: 1146px;
  height: 306px;
  background-color: inherit;
  border-radius: 16px;
  color: var(--basic-black);
}

.about-company p {
  font-family: roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-left: 20px;
  margin-top: 24px;
}

.about-company li {
  list-style: none;
  font-family: roboto;
  font-weight: normal;
}

/* Blog */

.blog {
  background-image: url("../img/index/strawberry.jpg");
  width: 560px;
  height: 220px;
  background-color: inherit;
  border-radius: 16px;
  color: var(--basic-black);
}

.blog h2 {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;        /* Почему в данном случае по дефолту ставится не те font-size и line-height, которые прописаны в body???*/
  line-height: 22px;
  margin-left: 20px;
  margin-top: 23px;
}

.blog a {
  color: var(--basic-black);
  text-decoration-color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  margin-left: 20px;
  margin-top: 15px;
}

/* Mailing */

.mailing {
  background-image: url("../img/index/mail.png");
  width: 560px;
  height: 220px;
  background-color: inherit;
  border-radius: 16px;
}

.mailing p {
  color: var(--basic-light-black);
  font-family: roboto;
  margin-left: 20px;
  margin-top: 29px;
}

.mailing label {
  color: var(--basic-light-black);
  font-family: roboto;
  margin-left: 20px;
  margin-top: 47px;
}

.mailing button {
  width: 130px;
  height: 44px;
}

/* Contact Information */

.contact-information {
  background-color: var(--basic-white);
  width: 303px;
  height: 306px;
  border-radius: 16px;
}

.contact-information p {
  color: var(--basic-black);
  font-family: roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-left: 25px;
  margin-top: 32px;
}

.contact-information span {
  font-size: 18px;
  line-height: 24px;
  font-family: robotobold;
}

.contact-information a {
  color: var(--basic-black);
  text-decoration-color: none;
  font-size: 18px;
  line-height: 24px;
  font-family: robotobold;    /* Тут тоже не наследует из body( Почему? */
}

.contact-information button {
  width: 253px;
  height: 43px;
  margin-left: 25px;
  margin-bottom: 31px;
}

/*  Footer */

.social-networks {
  list-style: none;
}

.information {
  list-style: none;
  font-family: roboto;
  font-size: 13px;
  line-height: 18px;
}

.information span {
  font-family: robotobold;
}

.developed {
  font-family: roboto;
  font-size: 12px;
  line-height: 18px;
}

/* Catalog page*/

.pages-navigation {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

h1 {
  font-family: robotobold;
  font-size: 35px;
  line-height: 41px;
}

/* Sorting */

.apply-button {
  padding: 9px 29px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  text-shadow: none;
  box-shadow: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

/* Pages */

.catalog-pages {
  list-style: none;
}

.catalog-pages a {
  text-decoration: none;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
